nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6vh;
  background: rgb(248, 248, 248);
  color: rgb(10, 10, 10);
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.link {
  align-items: center;
  color: rgb(10, 10, 10);
  padding-right: 50px;
}
